body {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}

.header-box {
    display: flex;
    height: 400px;
    background-color: #1F2937;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    height: 100px;
    margin-left: 80px;
    margin-right: 80px;
}

.header-logo {
    object-fit: contain;
}

.logo-image {
    width: 75px;
}

#header-links {
    display: flex;
    justify-content: flex-end;
    padding-left: 800px;
    padding-top: 7px;
    gap: 15px;
}

#header-links a {
    color: white;
    text-decoration: none;
}

.intro-container {
    display: flex;
    height: 300px;
    max-width: 1073px;
}

#intro-text-container {
    display: flex;
    flex-direction: column;
}

.intro-heading {
    width: 400px;
    font-size: xx-large;
}

.intro-heading h1 {
    margin-top: 5px;
    margin-bottom: 0;
    color: white;
}

.intro-text {
}

.intro-text p {
    margin: 0 ;
    margin-bottom: 10px;
    color: white;
}

.sign-up-button {
}


#intro-image-container {
    margin-left: 20px;
}

.intro-image {
    height: 260px;
}

#counselor-showcase-container {
    padding-top: 10px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.showcase-heading-container {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.showcase-heading {
}

.counselor-showcase {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.counselor {
    height: 210px;
    width: 150px;
}

.counselor-image-container {
    height: 150px;
    object-fit: cover;
}

.counselor-image {
    width: 100%;
    border-radius: 10px;
}

#quote-box {
    display: flex;
    height: 400px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;


}

.quote-container {
    display: flex;
    flex-direction: column;
    height: 160px;
    width: 600px;
}

.quote {
    height: 160px;

}

.quote-text {
    font-size: xx-large;
    text-align: center;
}

.author {
    text-align: end;
}

.author-name {
    font-size: large;
}

#sign-up-box {
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.sign-up-container {
    display: flex;
    width: 700px;
    height: 100px;
    border-radius: 4px;
    background-color: #1259ca;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.sign-up-text {
    flex: 2;
    line-height: 15px;
}

.sign-up-text-1 {
    font-size: larger;
    color: white;
}

.sign-up-text-2 {
    color: white;
}

.lower-sign-up-button-container {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: flex-end;
}

.sign-up-button-2 {
    font-size: larger;
    width: 90px;
    height: 30px;
    border-radius: 4px;
    border: 0px;
}

footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: white;
} 