body {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 60px;
}
.header-box {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: black;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    background-color: blue;
    width: 100%;
    height: 100px;
}

.header-logo {
    width: 60px;
    height: 30px;
    object-fit: contain;
}

.logo-image {
    width: 50px;
}

#header-links {
    display: flex;
    justify-content: flex-end;
    padding-left: 800px;
    padding-top: 7px;
    gap: 15px;
}

.intro-container {
    display: flex;
    height: 400px;
    background-color: aqua;
    gap: 5px;
}

#intro-text-container {
    flex: 1;
}

#intro-image-container {
    flex: 1;
    object-fit: contain;
}

.intro-image {
    width: 100px;
}

#counselor-showcase-container {
    background-color: coral;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.showcase-heading-container {
    display: flex;
    height: 100px;
    background-color: purple;
    justify-content: center;
    align-items: center;
}

.showcase-heading {
}

.counselor-showcase {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.counselor {
    border: 4px solid green;
    height: 210px;
    width: 150px;
}

.counselor-image-container {
    height: 150px;
    background-color: pink;
    object-fit: cover;
}

.counselor-image {
    width: 100%;

}

#quote-box {
    height: 400px;
    background-color: red;
}

#sign-up-box {
    height: 400px;
    background-color: gray;
}

